<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lotte.chamomile.admin.user.UserHistoryMapper">

	<select id="findUserHistory" parameterType="String" resultType="net.lotte.chamomile.admin.user.UserHistoryVO">
		SELECT
		    USER_ID     userId
		    ,REVTYPE    revtype
		FROM
		    CHMM_USER_INFO_HISTORY
		<where>
        USER_ID = #{userId}
    </where>
	</select>

</mapper>
