<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lotte.chamomile.admin.menu.domain.MenuMapper">


    <!-- 메뉴 목록 조회 -->
    <select id="findMenuList" resultType="net.lotte.chamomile.admin.menu.domain.MenuVO">
        SELECT
            MENU_ID menuId                          /* 메뉴 id */
            , MENU_LVL menuLvl                      /* 메뉴 레벨 */
            , MENU_URI menuUri                      /* 메뉴명 */
            , MENU_NAME menuName                    /* 메뉴명 */
            , UPPER_MENU_ID upperMenuId             /* 상위메뉴 id */
            , MENU_DESC menuDesc                    /* 메뉴 설명 */
            , MENU_SEQ menuSeq                      /* 메뉴 순서 */
            , LEFT_MENU_YN leftMenuYn               /* 좌측 메뉴 여부 */
            , USE_YN useYn                          /* 사용여부 */
            , ADMIN_MENU_YN adminMenuYn             /* 어드민 메뉴 여부 */
            , MENU_HELP_URI menuHelpUri             /* 도움말 리소스 경로 */
            , MENU_SCRIPT menuScript                /* 메뉴 스크립트*/
            , PERSONAL_DATA_YN personalDataYn       /* 개인정보 포함 여부 */
            , SYS_INSERT_DTM sysInsertDtm           /* 시스템_입력_일시 */
            , SYS_INSERT_USER_ID sysInsertUserId    /* 시스템_입력_사용자_아이디 */
            , SYS_UPDATE_DTM sysUpdateDtm           /* 시스템_수정_일시 */
            , SYS_UPDATE_USER_ID sysUpdateUserId    /* 시스템_수정_사용자_아이디 */
        FROM CHMM_MENU_INFO
        <where>
            MENU_ID != 'root'
            <if test=" searchMenuType == null and searchMenu != null and searchMenu != '' ">
                AND MENU_NAME LIKE CONCAT(CONCAT('%', #{searchMenu}),'%') OR MENU_URI LIKE CONCAT(CONCAT('%', #{searchMenu}),'%')
            </if>
            <if test=" searchMenuType == 0 and searchMenu != null and searchMenu != '' ">
              AND MENU_NAME LIKE CONCAT(CONCAT('%', #{searchMenu}),'%')
            </if>
            <if test=" searchMenuType == 1 and searchMenu != null and searchMenu != '' ">
              AND MENU_URI LIKE CONCAT(CONCAT('%', #{searchMenu}),'%')
            </if>
            <if test="searchUseYn != null and searchUseYn != ''">
                AND USE_YN = #{searchUseYn}
            </if>
            <if test="searchUpperMenuId != null and searchUpperMenuId != ''">
                AND UPPER_MENU_ID = #{searchUpperMenuId}
            </if>
            <if test="searchMenuHelpUri != null and searchMenuHelpUri != ''">
                AND MENU_HELP_URI LIKE CONCAT(CONCAT('%', #{searchMenuHelpUri}), '%')
            </if>
        </where>
        ORDER BY MENU_LVL,UPPER_MENU_ID,MENU_SEQ
    </select>
    
	<select id="findMenu" parameterType="String" resultType="net.lotte.chamomile.admin.menu.domain.MenuVO">
        SELECT
            MENU_ID menuId                          /* 메뉴 id */
            , MENU_LVL menuLvl                      /* 메뉴 레벨 */
            , MENU_URI menuUri                      /* 메뉴명 */
            , MENU_NAME menuName                    /* 메뉴명 */
            , UPPER_MENU_ID upperMenuId             /* 상위메뉴 id */
            , MENU_DESC menuDesc                    /* 메뉴 설명 */
            , MENU_SEQ menuSeq                      /* 메뉴 순서 */
            , LEFT_MENU_YN leftMenuYn               /* 좌측 메뉴 여부 */
            , USE_YN useYn                          /* 사용여부 */
            , ADMIN_MENU_YN adminMenuYn             /* 어드민 메뉴 여부 */
            , MENU_HELP_URI menuHelpUri             /* 도움말 리소스 경로 */
            , MENU_SCRIPT menuScript                /* 메뉴 스크립트*/
            , PERSONAL_DATA_YN personalDataYn       /* 개인정보 포함 여부 */
            , SYS_INSERT_DTM sysInsertDtm           /* 시스템_입력_일시 */
            , SYS_INSERT_USER_ID sysInsertUserId    /* 시스템_입력_사용자_아이디 */
            , SYS_UPDATE_DTM sysUpdateDtm           /* 시스템_수정_일시 */
            , SYS_UPDATE_USER_ID sysUpdateUserId    /* 시스템_수정_사용자_아이디 */
        FROM CHMM_MENU_INFO
        <where>
            AND MENU_ID = #{menuId}
        </where>
        ORDER BY MENU_LVL,UPPER_MENU_ID,MENU_SEQ
    </select>

    <!-- 최상위(root) 메뉴 조회 -->
    <select id="findRoot" resultType="net.lotte.chamomile.admin.menu.domain.MenuVO">
        SELECT MENU_ID menuId                        /* 메뉴 id */
             , MENU_LVL menuLvl                      /* 메뉴 레벨 */
             , MENU_URI menuUri                      /* 메뉴명 */
             , MENU_NAME menuName                    /* 메뉴명 */
             , UPPER_MENU_ID upperMenuId             /* 상위메뉴 id */
             , MENU_DESC menuDesc                    /* 메뉴 설명 */
             , MENU_SEQ menuSeq                      /* 메뉴 순서 */
             , LEFT_MENU_YN leftMenuYn               /* 좌측 메뉴 여부 */
             , USE_YN useYn                          /* 사용여부 */
             , PERSONAL_DATA_YN personalDataYn       /* 개인정보 포함 여부 */
             , ADMIN_MENU_YN adminMenuYn             /* 어드민 메뉴 여부 */
             , MENU_HELP_URI menuHelpUri             /* 도움말 리소스 경로 */
             , MENU_SCRIPT menuScript                /* 메뉴 스크립트*/
             , SYS_INSERT_DTM sysInsertDtm           /* 시스템_입력_일시 */
             , SYS_INSERT_USER_ID sysInsertUserId    /* 시스템_입력_사용자_아이디 */
             , SYS_UPDATE_DTM sysUpdateDtm           /* 시스템_수정_일시 */
             , SYS_UPDATE_USER_ID sysUpdateUserId    /* 시스템_수정_사용자_아이디 */
        FROM CHMM_MENU_INFO
        WHERE MENU_ID = 'root'
    </select>

    <select id="selectLastMenuKey" resultType="String">
      SELECT MAX(MENU_ID) selectKey
      FROM CHMM_MENU_INFO
      WHERE MENU_ID != 'root'
    </select>

    <insert id="insertMenu">
        INSERT INTO CHMM_MENU_INFO (
            MENU_ID
            , MENU_LVL
            , UPPER_MENU_ID
            , MENU_NAME
            , MENU_URI
            , MENU_DESC
            , MENU_SEQ
            , LEFT_MENU_YN
            , USE_YN
            , ADMIN_MENU_YN
            , MENU_HELP_URI
            , MENU_SCRIPT
            , PERSONAL_DATA_YN
            , SYS_INSERT_DTM
            , SYS_INSERT_USER_ID
            , SYS_UPDATE_DTM
            , SYS_UPDATE_USER_ID
        ) VALUES (
            #{menuId}
            , #{menuLvl}
            , #{upperMenuId}
            , #{menuName}
            , #{menuUri}
            , #{menuDesc}
            , #{menuSeq}
            , #{leftMenuYn}
            , #{useYn}
            , #{adminMenuYn}
            , #{menuHelpUri}
            , #{menuScript}
            , #{personalDataYn}
            , #{sysInsertDtm}
            , #{sysInsertUserId}
            , #{sysUpdateDtm}
            , #{sysUpdateUserId}
        )
    </insert>

    <!-- 자식 메뉴 목록 조회 -->
    <select id="findChildMenuList" resultType="net.lotte.chamomile.admin.menu.domain.MenuVO">
      SELECT
          MENU_ID menuId                          /* 메뉴 id */
          , MENU_LVL menuLvl                      /* 메뉴 레벨 */
          , MENU_URI menuUri                      /* 메뉴명 */
          , MENU_NAME menuName                    /* 메뉴명 */
          , UPPER_MENU_ID upperMenuId             /* 상위메뉴 id */
          , MENU_DESC menuDesc                    /* 메뉴 설명 */
          , MENU_SEQ menuSeq                      /* 메뉴 순서 */
          , LEFT_MENU_YN leftMenuYn               /* 좌측 메뉴 여부 */
          , USE_YN useYn                          /* 사용여부 */
          , ADMIN_MENU_YN adminMenuYn             /* 어드민 메뉴 여부 */
          , MENU_HELP_URI menuHelpUri             /* 도움말 리소스 경로 */
          , MENU_SCRIPT menuScript                /* 메뉴 스크립트*/
          , PERSONAL_DATA_YN personalDataYn       /* 개인정보 포함 여부 */
          , SYS_INSERT_DTM sysInsertDtm           /* 시스템_입력_일시 */
          , SYS_INSERT_USER_ID sysInsertUserId    /* 시스템_입력_사용자_아이디 */
          , SYS_UPDATE_DTM sysUpdateDtm           /* 시스템_수정_일시 */
          , SYS_UPDATE_USER_ID sysUpdateUserId    /* 시스템_수정_사용자_아이디 */
        FROM CHMM_MENU_INFO
       WHERE UPPER_MENU_ID = #{upperMenuId}
    </select>

    <!-- 메뉴 권한 삭제 -->
    <delete id="deleteMenuAuth">
        DELETE FROM CHMM_ROLE_MENU_MAP
        WHERE
            MENU_ID IN
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>

    <!-- 메뉴 삭제 -->
    <delete id="deleteMenu">
        DELETE FROM CHMM_MENU_INFO
        WHERE MENU_ID IN
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 메뉴 수정 -->
    <update id="updateMenu">
        UPDATE CHMM_MENU_INFO
        SET MENU_LVL = #{menuLvl}
        , UPPER_MENU_ID = #{upperMenuId}
        , MENU_NAME = #{menuName}
        , MENU_URI = #{menuUri}
        , MENU_DESC = #{menuDesc}
        , MENU_SEQ = #{menuSeq}
        , LEFT_MENU_YN = #{leftMenuYn}
        , USE_YN = #{useYn}
        , ADMIN_MENU_YN = #{adminMenuYn}
        , MENU_HELP_URI = #{menuHelpUri}
        , PERSONAL_DATA_YN = #{personalDataYn}
        , MENU_SCRIPT = #{menuScript}
        , SYS_UPDATE_DTM = #{sysUpdateDtm}
        , SYS_UPDATE_USER_ID = #{sysUpdateUserId}
        WHERE MENU_ID= #{menuId}
    </update>

    <!-- 북마커 등록-->
    <insert id="insertBookmark">
      INSERT INTO CHMM_MENU_BOOKMARK_INFO (
           MENU_ID
         , USER_ID
         , SYS_INSERT_DTM
         , SYS_INSERT_USER_ID
      ) VALUES (
           #{menuId}
         , #{userId}
         , #{sysInsertDtm}
         , #{sysInsertUserId}
         )
    </insert>
    <!-- 북마커 삭제  -->
    <delete id="deleteBookmark">
      DELETE FROM CHMM_MENU_BOOKMARK_INFO
      WHERE MENU_ID = #{menuId}
        AND USER_ID = #{userId}
    </delete>

    <select id="findBookmark" parameterType="net.lotte.chamomile.admin.menu.domain.BookmarkVO" resultType="net.lotte.chamomile.admin.menu.domain.BookmarkVO" >
      SELECT
        USER_ID userId,
        MENU_ID menuId
      FROM
        CHMM_MENU_BOOKMARK_INFO
      WHERE
        USER_ID = #{userId}
        AND MENU_ID = #{menuId}
    </select>

    <select id="checkComponentId" resultType="boolean">
      SELECT COUNT(1)
      FROM CHMM_MENU_COMPONENT_INFO
      WHERE MENU_ID = #{menuId} AND COMPONENT_ID = #{componentId}
    </select>
    
    <select id="findComponentList" parameterType="String" resultType="net.lotte.chamomile.admin.menu.domain.MenuComponentVO">
    	SELECT
    	  MENU_ID 			      menuId
        , COMPONENT_ID 	    componentId
        , COMPONENT_URL			componentUrl
        , COMPONENT_DESC		componentDesc
        , USE_YN			      useYn
        , COMPONENT_TYPE	  componentType
        , SYS_INSERT_DTM	  sysInsertDtm
        FROM CHMM_MENU_COMPONENT_INFO
        WHERE MENU_ID = #{menuId}
    </select>

    <insert id="insertMenuComponent">
        INSERT INTO CHMM_MENU_COMPONENT_INFO (
          MENU_ID
        , COMPONENT_ID
        , COMPONENT_URL
        , COMPONENT_NAME
        , COMPONENT_DESC
        , SYS_INSERT_DTM
        , SYS_INSERT_USER_ID
        , SYS_UPDATE_DTM
        , SYS_UPDATE_USER_ID
        , USE_YN
        , COMPONENT_TYPE
        ) VALUES (
            #{menuId}
          , #{componentId}
          , #{componentUrl}
          , #{componentName}
          , #{componentDesc}
          , #{sysInsertDtm}
          , #{sysInsertUserId}
          , #{sysUpdateDtm}
          , #{sysUpdateUserId}
          , #{useYn}
          , #{componentType}
        )
    </insert>

    <update id="updateComponent">
        UPDATE CHMM_MENU_COMPONENT_INFO
        SET COMPONENT_URL = #{componentUrl}
          , COMPONENT_DESC = #{componentDesc}
          , USE_YN = #{useYn}
          , COMPONENT_TYPE = #{componentType}
        WHERE MENU_ID = #{menuId} AND COMPONENT_ID = #{componentId}
    </update>
    
    <delete id="deleteComponent">
    	DELETE FROM CHMM_MENU_COMPONENT_INFO
      	WHERE MENU_ID = #{menuId}
          AND COMPONENT_ID = #{componentId}
    </delete>
</mapper>
